@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
:root {
    --plyr-color-main: #0000003e;
    --plyr-audio-controls-background: transparent;
    --plyr-badge-background: #fbdcf8;
    --plyr-audio-control-color: #fbdcf8;
    --plyr-range-fill-background: #f7b5f1;
    --plyr-audio-range-track-background: #fbdcf889;
}
body {
    background-color: #000000;
    color:#fbdcf8;
    font-family: "Dela Gothic One", serif;
    font-weight: 400;
    font-style: normal;
}
.endyourself {
    text-align: center;
    vertical-align: middle;
    padding-top:15rem;;
    max-width: 30%;
}
.ihatelife {
    font-size: 6rem;
    margin-bottom:0;
}
.sheleftmelol {
    margin-top:0;
    font-size:1.2rem;
    margin-bottom:0;
}
#fps {
    font-size:small;
    transition: opacity 0.5s ease-in-out;
}
.fade {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
html, body {
    height: 100%;
    width: 100%;
    margin:0px;
}
.fullscreen {
    min-height: 100%;
    min-width: 100%;
}
@media screen and (max-width: 1366px) {
    .endyourself {
        max-width: 80%;
        padding-top:10rem;
    }
}