@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;400&family=Rubik:wght@300&display=swap');
:root {
    --plyr-color-main: #f47272;
}
body {
    background-color: #000000;
    color:#fff;
    font-family: 'Rubik', sans-serif;
}
.endyourself {
    text-align: center;
    vertical-align: middle;
    padding-top:15rem;;
    max-width: 30%;
}
.ihatelife {
    font-size: 6rem;
    margin-bottom:0;
}
.sheleftmelol {
    margin-top:0.5rem;
    font-size:1rem;
}
html, body {
    height: 100%;
    width: 100%;
    margin:0px;
}
.fullscreen {
    min-height: 100%;
    min-width: 100%;
}
@media screen and (max-width: 1366px) {
    .endyourself {
        max-width: 80%;
        padding-top:10rem;
    }
}